# {{ ansible_managed }}

set editing-mode emacs

# set bell-style none
# $if mode=vi
#     set keymap vi-command
#     "gg": beginning-of-history
#     "G": end-of-history
#     # set keymap vi-insert       #notice how the "jj" movement is
#     "jj": vi-movement-mode     #after 'set keymap vi-insert'?
#     "\C-w": backward-kill-word
#     "\C-p": history-search-backward
# $endif
